/* CSS for Business Card */

html{
	background-image: url(roses.jpg);
	overflow: none;
	background-size: cover;
	display: inline-block;
}

#content{
	width: 600px;
	height: 400px;
	text-align: center;
	padding: 40px;
	border-radius: 20px;

	background-color: #ffffff;
	box-shadow: 3px 3px 10px rgba(0,0,0,30%);

	position: absolute;
	margin: 0 auto;
	left: 50%;
	margin-left: -300px;
	top:50%;
	margin-top: -200px;
  font-family: Courgette;
}

p{
  font-family: Quicksand;

}

#photo{
	width:150px;
	border-radius: 50%;
  border: 1.5px solid #e08283;
  background-color: #ffffff;
}

#name{
	margin-top: 20px;
}

.btn {
  border: 2px solid pink;
  background-color: white;
  color: #e08283;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

/*Instagram*/
.Instagram{
  border-color: #e08283;
  text-decoration: none;
}

a{
  font-family: 'Varela Round', sans-serif;

}

.Instagram:hover{
  background-color: #F0B292;
  text-decoration: none;
  color:white ;
}

.btn {
  border: 2px solid pink;
  background-color: white;
  color: #e08283;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

/*LinkedIn*/
.LinkedIn{
  border-color: #e08283;
  text-decoration: none;
}

a{
  font-family: 'Varela Round', sans-serif;
}

.LinkedIn:hover{
  background-color: #F0B292;
  text-decoration: none;
  color:white ;
}

.btn {
  border: 2px solid pink;
  background-color: white;
  color: #e08283;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

/*Email*/
.Email{
  border-color: #e08283;
  text-decoration: none;
}

a{
  font-family: 'Varela Round', sans-serif;

}

.Email:hover{
  background-color: #F0B292;
  text-decoration: none;
  color:white ;
}
</html>
